language: php

branches:
    only:
        - master

addons:
    postgresql: "9.3"

php:
    - 5.4

cache:
    directories:
        - $HOME/python

install:
    - bash ./install_python.sh

before_script:
    - psql -c 'create database tdatabase;' -U postgres
    - psql -U postgres tdatabase < base.pg

script: bash ./script.sh
